.sidebar {
  position: absolute;
  width: 16%;
  height: 100vh;
  overflow: auto;
  left: 0;
  top: 0;
  padding: 2rem 1.5rem;
  transition: all 600ms ease-in-out;
  background-color: white;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 3rem 0 0 0;
}

.exit {
  width: 9%;
  padding: 2rem 0;
}

.headerLink {
  text-decoration: none;
}

.sidebarTitle {
  font-weight: 500;
  color: #7d41ed;
  text-align: center;
}

.mainMenu {
  width: 100%;
}

.subtitle {
  font-weight: 500;
  line-height: 1.8rem;
  font-feature-settings: "salt" on, "liga" off;
  color: #7a7a7a;
  opacity: 0.5;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.sidebarLinkSvg {
  fill: #7a7a7a;
}

.sidebarLinkClouse {
  text-align: center;
  padding: 0.8rem 1.2rem;
  display: block;
  width: 60%;
  margin: 0 auto;
}
.sidebarLinkOpen {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 2.4rem;
}

.sidebarLink {
  border-radius: 1rem;
  text-decoration: none;
  color: #7a7a7a;
}
.sidebarLink:hover .sidebarLinkSvg {
  fill: #fff;
}
.sidebarLink:hover {
  background: #7d41ed;
  color: #fff;
}

.sidebarLink:focus {
  background: #7d41ed;
  color: #fff;
}
.sidebarLink:focus .sidebarLinkSvg {
  fill: #fff;
}
