.div{
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ellipse{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
height: 54px;
border-radius:50%;
background: rgba(122, 122, 122, 0.4);
}
.rectangle{
width: 54px;
height: 5px;
background: rgba(122, 122, 122, 0.4);
}
