.itemContainer {
  position: relative;
  padding: 2rem 0rem;
  margin: 0 auto 2rem auto;
  width: 70%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btnIconTextContainer {
  width: 13rem;
  margin: 10px;
  position: absolute;
  bottom: 0%;
  right: 14%;
  transform: translate(0%, 150%);
}
.trashBtn {
  width: 17rem;
}
.label {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: -0.01em;
  color: transparent;
  margin-bottom: 1.6rem;
}
