.itemContainer {
  position: relative;
  padding: 1rem 0rem;
  margin: 0 auto 0 auto;
  width: 70%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btnIconTextContainer {
  width: 13rem;
  margin: 0.5rem;
  position: absolute;
  
}
.trashBtn {
  width: 17rem;
}

@media (max-width: 650px){
  .itemContainer{
    display: block;
  }
  .btnIconTextContainer{
    display: block;
    position:absolute;
    right: 0;
  }
}
