.layout {
  overflow: hidden;
}
.layoutBox {
  background-color: rgb(228, 228, 228);
  flex-grow: 1;
  padding: 3.2rem 3rem 2rem 2rem;
  overflow: auto;
}
.contents {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 84%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 16%;
  transition: all 600ms ease-in-out;
}

.containerFull {
  width: 91%;
  left: 9%;
}

.pageName {
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.goBack {
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: rgb(191, 192, 191);
}

.goBack:hover {
  color: blue;
}
