@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  font-size: 62.5%;
}

.h1 {
  font-size: 3.2rem;
  line-height: 130%;
}
.h2 {
  font-size: 2.4rem;
  line-height: 130%;
}
.h3 {
  font-size: 2.2rem;
  line-height: 130%;
}
.h4 {
  font-size: 2rem;
  line-height: 130%;
}
.h5 {
  font-size: 1.8rem;
  line-height: 130%;
}
.h6 {
  font-size: 1.6rem;
  line-height: 130%;
}

.subtitle {
  font-size: 1.4rem;
  line-height: 130%;
}
